html, body {margin: 0; padding: 0;}

#opening-bg {
    background-color: rgb(188, 9, 9);
    animation-name: blink;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

/*#opening-top {
    height: 10vh;
}*/

body {
    overflow: hidden;
}

#opening-ment {
    width: 100%;
    height: 100%;
    background-size: cover;
}
/*.side {
    width: 10vw;
}*/

#opening-ment > img {
    height: 100vh;
    font-family: 'Cabin', sans-serif;
    color: white;
    width: 100%;
    background-size: cover;
    animation-name: blink;
    animation-iteration-count: 1;
}

@keyframes blink {
    0% {color: white; opacity: 1;}
    100% {color: rgb(162, 8, 8); opacity: 0.4;}
}

/*#opening-bottom {
    height: 10vh;
}*/